<div class="homepage-banner">
  <h1>Blue Horizon - Luxury Yacht Rentals</h1>
  <p>Welcome Home! Book your dream yacht today!</p>
</div>

<div class="yachts-container">
  <% @yachts.each do |yacht| %>
    <div class="yacht-card">
    <% if yacht.photo.attached? %>
      <%= cl_image_tag(yacht.photo.key, class:"card-img-top") %>
    <% end %>
      <h2><%= yacht.name %></h2>
      <a href="#">View Details</a>
    </div>
  <% end %>
</div>
