<div class="homepage-banner">
  <h1>Blue Horizon - Luxury Yacht Rentals</h1>
  <p>Welcome Home! Book your dream yacht today!</p>
</div>

<div class="yachts-container">
  <% @threeYachts.each do |yacht| %>
    <div class="yacht-card">
    <% if yacht.photo.attached? %>
      <%= cl_image_tag(yacht.photo.key, class:"card-img-top") %>
    <% end %>
      <h2><%= yacht.name %></h2>
      <a href="#">View Details</a>
    </div>
  <% end %>
</div>

<div class="container d-flex flex-row justify-content-center align-items-center">
  <div class="rounded-4" style="width: 75%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
